.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.toolbarWrapper {
    flex-grow: 0;
}

.editorWrapper {
    flex-grow: 1;
    overflow: hidden;
}