.clusterViewContainer {
    padding: 0;

    width: 100%;
    height: 100%;
}

.mainArea {
    height: 100%;
    overflow: scroll;
    padding-left: 0.5rem;
}

.bottomPanel {
    height: 100%;
}

.panelHandle[data-separator="hover"],
.panelHandle[data-separator="active"] {
    box-shadow: 0 0 2px 1px lightslategrey;
    z-index: 999;
}