.container {
    display: grid;
    grid-template-columns: 15fr minmax(0, 85fr);
    grid-template-rows: 4fr minmax(0, auto);
    grid-template-areas:
        "nav main"
        "nav bottom";
    padding: 0;

    width: 100%;
    height: 100%;
}

nav {
    grid-area: nav;
    max-height: 100%;
    overflow: scroll;
    border-right: 1px #333333 solid;
    padding: 0 0.5rem;
}

nav ul {
    margin: 0;
}

nav details summary {
    height: 2.25em;
    line-height: 2.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav details>summary::before {
    content: "📁";
    margin: 0 .5em;
}

nav details[open]>summary::before {
    content: "📂";
}

nav details>summary::marker,
nav details>summary::-webkit-details-marker {
    display: none;
    content: "";
}

nav details summary:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.mainArea {
    grid-area: main;
    max-height: 100%;
    overflow: scroll;
    padding: 0 0.5rem;
}

.bottomPanel {
    grid-area: bottom;
}

.topBar {
    display: flex;
    align-items: stretch;
}

.topBar>* {
    margin: 0.5em;
}

.topBar>*:first-child {
    margin-left: 0;
}

.topBar>*:last-child {
    margin-right: 0;
    margin-left: auto;
}

.topBar h2 {
    text-transform: capitalize;
}