.tabWrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
    padding: 0.4rem;
}

.tabWrapper>.tab {
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    cursor: default;
    display: flex;
    align-items: center;
}

.tabWrapper>.tab:not(.mini) {
    width: 250px;
}

.tabWrapper>.tab.mini {
    font-size: 1.1em;
    text-align: center;
    line-height: 2em;
}

.tabWrapper>.tab:hover:not(.activeTab) {
    background: rgba(255, 255, 255, 0.05);
}

.activeTab {
    background: rgba(255, 255, 255, 0.1);
}

.tabWrapper>.tab:not(:last-child) {
    margin-right: 0.5em;
}

.tabIcon {
    margin-right: 0.5em;
    font-size: 1.1em;
    text-align: center;
    flex-grow: 0;
}

.tabLabelWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.tabLabel,
.tabSubtitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tabLabelWrapper:has(.tabSubtitle) .tabLabel {
    font-size: 0.85em;
}

.tabSubtitle {
    font-size: 0.7em;
    opacity: 0.6;
}

.closeIcon {
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    text-align: center;
    line-height: 1.8em;
    flex-grow: 0;
}

.closeIcon:hover {
    background: rgba(255, 255, 255, 0.05);
}