.tabWrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.tabWrapper>.tab {
    padding: 0.4em;
    border-radius: 0.3em;
    width: 220px;
    cursor: default;
    display: flex;
    align-items: center;
}

.tabWrapper>.tab.mini {
    width: 2em;
    height: 2em;
    font-size: 1.1em;
    text-align: center;
    line-height: 2em;
}

.tabWrapper>.tab:hover:not(.activeTab) {
    background: rgba(255, 255, 255, 0.05);
}

.activeTab {
    background: rgba(255, 255, 255, 0.1);
}

.tabWrapper>.tab:not(:last-child) {
    margin-right: 0.5em;
}

.tabIcon {
    margin-right: 0.5em;
    font-size: 1.1em;
    text-align: center;
    flex-grow: 0;
}

.tabLabel {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex-grow: 1;
}

.closeIcon {
    margin-left: auto;
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.3em;
    text-align: center;
    line-height: 1.35em;
    flex-grow: 0;
}

.closeIcon:hover {
    background: rgba(255, 255, 255, 0.05);
}