.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: default;
}

.container > * {
    margin: 0;
}

.container > *:first-child {
    font-size: 5rem;
}