.container {
    display: flex;
    margin-left: 2em;
}

.button {
    width: 24px;
    height: 24px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    border-radius: 50%;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.close:hover {
    background-color: #E81123;
}

.icon {
    width: 1em;
    height: 1em;
    fill: white;
}