.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-bottom: 1px #333333 solid;
}

.container :last-child {
    margin-left: auto;
}

.container > * {
    margin: 0;
    margin-right: 1em;
}
