.welcomeContainer {
    max-width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 5vh 0;
}

.welcomeContainer h2 {
    text-align: center;
}

.clusterList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: flex-start;
}

.clusterList:not(:has(:nth-child(3))) {
    justify-content: center;
}

.clusterList>* {
    flex: 0 0 calc((100% - 2 * 1.5em) / 3);
    max-width: 33%;
}