.container {
    height: 100%;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clusterList {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em 2em;
}

.clusterList li {
    height: 2em;
    line-height: 2em;
}

.clusterList a {
    text-decoration: none;
}
