.container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    align-items: center;
}

.topBar>* {
    margin: 0.5em;
}

.topBar>*:first-child {
    margin-left: 0;
}

.topBar>*:last-child {
    margin-right: 0;
    margin-left: auto;
}

.topBar h2 {
    text-transform: capitalize;
}

.tableArea {
    height: 100%;
    overflow: auto;
}