.container {
    display: grid;
    grid-template-columns: 15fr minmax(0, 85fr);
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas:
        "nav main"
        "nav bottom";
    
    width: 100vw;
    height: 100vh;
    padding: 0 0.5rem;
    overflow: hidden;
}

table {
    width: 100%;
    max-width: 100%;
}

table {
    font-family: monospace;
    border-spacing: 0;
    max-width: 100%;
    table-layout: fixed;
}

table tr {
    height: 2.5em;
    max-width: 100%;
}

table th {
    text-align: left;
    font-weight: bold;
}

table td, table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
    padding: 0 0.5em;
}

table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

nav {
    grid-area: nav;
    overflow: scroll;
    border-right: 1px #333333 solid;
}

nav ul {
    margin: 0;
}

nav details summary { 
    height: 2.25em;
    line-height: 2.25em;
}

nav details > summary::before {
    content: "📁";
    margin: 0 .5em;
}

nav details[open] > summary::before {
    content: "📂";
}

nav details > summary::marker, nav details > summary::-webkit-details-marker {
    display: none;
    content: "";
}

.gvkListIndented {
    padding-left: 1em;
}

nav details summary:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.mainArea {
    grid-area: main;
    overflow: scroll;
}

.bottomPanel {
    grid-area: "bottom";
}
