.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.header {
    grid-area: header;
    padding: 0.4em;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: stretch;
}

.header .right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: dodgerblue;
    height: 1.5rem;
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
}

.footer>div {
    margin-right: 1em;
}

.footer>div:last-child {
    margin-right: 0;
}

.main {
    grid-area: main;
    overflow: scroll;
    padding: 0 0.5rem;
}