:root {
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;

  user-select: none;
  -webkit-user-select: none;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  margin-bottom: 0.2em;
}

::backdrop {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.25);
}